<html>
	<head>
		<meta charset="utf-8">
		<title>Mobile RAN performance Tracker</title>
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	</head>
	<body>
		<header>
			<div class="logo">
				<h1>Mobile Network Performance Tracker</h1>
			</div>
		</header>
		<div>
			<h3>Site_name</h3> 
			<ul>
			{% for st in site %}
			<li><a href="/site/{{ st }}">{{ st }}</li>
			{% endfor %}
			</ul>
			<div>
				<h4>coordinates</h4>
				<h3>technology</h3>

			</div>
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>
